@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* * {
  box-shadow: 0 0 5px red;
} */
.caro-wrapper {
  overflow: hidden;
  margin-top: -30px;
}
.caro-wrapper * {
  outline: none;
}
.caro-wrapper *:active {
  outline: none;
}
.caro-wrapper .high_app {
  margin: 8rem 2rem 4.5rem;
}

.caro-wrapper .demo-app {
  width: 100%;
  margin: 2rem auto;
  /* border: 1px solid gray; */
  transform: scale(1.7);
  overflow-x: hidden;
}

.caro-wrapper .slide img {
  width: 27.5rem;
  height: 250px;
  margin: 0 auto;
  border-radius: 5px;
}

.caro-wrapper .slide {
  margin: 2rem auto;
  transform: scale(1);
  transition: transform 500ms;
  opacity: 0.5;
  /* box-shadow: 0 0 10px 4px red; */
}

.caro-wrapper .activeSlide {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
/*  */

/* .slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transition: transform 300ms;
  opacity: 0.7;
  cursor: pointer;
  height: 100%;
  padding: 1rem;
  border: 1px solid red;
}

.activeSlide {
  transform: scale(1.2);
  opacity: 1;
  z-index: 10;
}

.activeSlide img {

} */

/* ============ */
/* .slick-slider.slick-initialized {
  border: 1px solid red;
  height: 100%;

}
.slick-list {
  border: 1px solid chartreuse;
  margin-top: auto;
  height: 100%;
} */

/* =========================================== */

/* .slick-slide.slick-active.slick-center.slick-current .caroItem {
  opacity: 1;
  scale: 1;
} */
