.trendingContainer {
  margin: 0 3rem 3rem;
  cursor: pointer;
}

.trendingContainer h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
  margin-bottom: 1rem;
}
.trendingContainer h3 span {
  display: flex;
}

.product {
  margin-right: 15px;
}

.item {
  min-width: 275px;
  height: 150px;
}

.image {
  height: 100%;
  width: 100%;
}

.image img {
  height: 100%;
  width: 275px;
  object-fit: cover;
}
